.header{
    background-color:rgb(241, 216, 221);
    height: 550px;
}
.idysiup{
    padding: 30px;
    display: grid;
    grid-template-areas: "Idioma Español Iniciar Sesión";
    height: 15px;
    align-items: center;
    
}
.Idioma {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    display: flex;
    justify-content: center;
}
.Barra{
    text-align: center;
}
.go{
    width: 40%;
    right: 40px;
    height: 30px;
  
}
.Texto{
    white-space: nowrap;
    text-align: center;
    margin-right: 30px;
    padding: 10px;
}
.distv{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: rgb(187, 230, 215);
    align-items: center;
}
.descarga{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: rgb(218, 218, 163);
    align-items: center;
}
.disfr{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: rgb(238, 186, 186);
    align-items: center;
}
.crea{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color:rgb(211, 193, 161);
    align-items: center;
}
.pregu{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color:rgb(172, 228, 172);
    align-items: center;
}
.Bar{
    text-align: center;
}
.vam{
    width: 40%;
    right: 40px;
    height: 30px;
}
.pie{
    color: white;
    background-color: black;
    padding: 30px;
    margin-top: 15px;
}
.inf{
    height: 350px;
}